@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add slick-carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html {
  overflow-x: hidden;
}
body {
  max-width: 1580px;
  margin: 0 auto;
  background: rgb(0, 0, 31);
  overflow-x: hidden;
}
